.col{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
  

}
.card1{
    background-color: blue;
}
.card2{
    background-color: blue;
    
}
.card3{
    background-color: blue;
}
#hassan{
    text-align: center;
    color: white;
    background-color: darkblue;
}

 


